# demo-magic.sh script
demo-magic.sh
# Kubernetes kubeconfig file
kubeconfig.conf
# Ignore temporary README.sh script
README.sh
# ignore builded pages by Vuepress
docs/.vuepress/dist
# ignore tmp directory
tmp
# pre-commit config file
.pre-commit-config.yaml
